<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Games
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-spinner name="ios" *ngIf="!items">
    </ion-spinner>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <ion-thumbnail *ngIf="item.thumbnail">
                <!-- <img src="{{item.data.thumbnail}}"> -->
            </ion-thumbnail>
            <h2>{{ item.name }}</h2>
            <p>
                <ion-icon name="md-eye">{{ item.views }}</ion-icon>&nbsp;&nbsp;
                <ion-icon name="ios-body">{{ item.subscribers }}</ion-icon>&nbsp;&nbsp;

            </p>

            <button ion-button small item-right (click)="viewItem(item)">View</button>

        </ion-item>
    </ion-list>

</ion-content>