<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Post
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-spinner name="ios" *ngIf="!item">
    </ion-spinner>
    <ion-card>
        <!-- <img src="http://www.freeiconspng.com/uploads/controller-icon-8.png" /> -->

        <ion-card-header>
            <h1>{{ item?.title }} </h1>
        </ion-card-header>

        <ion-card-content>

            <p>{{ item?.text }}</p>

        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let comment of item.comments">
        <ion-card-content>
            <ion-item>
                <p>{{ comment?.text }}</p>
                <ion-note>by {{ comment?.username }} </ion-note>
            </ion-item>
        </ion-card-content>
    </ion-card>


    <button *ngIf="!replyOn" ion-button small item-left (click)="toggleReply()">Comment</button>
    <button *ngIf="replyOn" color="light" ion-button small item-left (click)="toggleReply()">Cancel</button>

    <form #FormComment="ngForm" *ngIf="replyOn" (ngSubmit)="reply(FormComment)">
        <ion-item>
            <ion-label floating>Comment</ion-label>
            <ion-input type="text" name="comment" [(ngModel)]="FormComment.comment"></ion-input>
        </ion-item>

        <ion-item>
            <button full ion-button [disabled]="!FormComment.form.valid" type="submit">Submit</button>
        </ion-item>
    </form>


</ion-content>