<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ item.name }}
            <button ion-button small item-right (click)="goToProfile()" style="float: right;">Profile</button>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-spinner name="ios" *ngIf="!posts">
    </ion-spinner>
    <ion-card *ngFor="let post of posts">
        <!-- <img src="http://www.freeiconspng.com/uploads/controller-icon-8.png" /> -->
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <h2>{{ post.title }}</h2>
                    <br>
                    <p>{{ post.text }}</p>

                </ion-item>
            </ion-list>

            <button ion-button small item-right (click)="viewItem(post)">View</button>

        </ion-card-content>
    </ion-card>


    <button style="float: left;" *ngIf="loggedIn && !showNewPostText && posts?.length > 0" ion-button small item-left (click)="toggleNewPost()">New Post</button>
    <button style="float: left;" color="light" *ngIf="loggedIn && showNewPostText" ion-button small item-left (click)="toggleNewPost()">Cancel</button>

    <br>

    <form #FormPost="ngForm" *ngIf="showNewPostText" (ngSubmit)="addPost(FormPost)">
        <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-input type="text" name="title" [(ngModel)]="FormPost.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Text</ion-label>
            <ion-input type="text" name="text" [(ngModel)]="FormPost.text"></ion-input>
        </ion-item>

        <ion-item>
            <button full ion-button [disabled]="!FormPost.form.valid" type="submit">Submit</button>
        </ion-item>
    </form>

    <br>
    <button style="float: left;" *ngIf="currentPage > 1" ion-button small item-left (click)="goToPage(currentPage - 1)">Previous</button>
    <button style="float: right;" *ngIf="posts?.length > 0" ion-button small item-right (click)="goToPage(currentPage + 1)">Next</button>

</ion-content>