<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ item.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let post of posts">
        <!-- <img src="http://www.freeiconspng.com/uploads/controller-icon-8.png" /> -->
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <h2>{{ post.title }}</h2>
                    <br>
                    <p>{{ post.text }}</p>

                </ion-item>
            </ion-list>

            <button ion-button small item-right (click)="viewItem(post)">View</button>

        </ion-card-content>
    </ion-card>


    <button style="float: left;" *ngIf="currentPage > 1" ion-button small item-left (click)="goToPage(currentPage - 1)">Previous</button>
    <button style="float: right;" *ngIf="posts?.length > 0" ion-button small item-right (click)="goToPage(currentPage + 1)">Next</button>

</ion-content>